<nav class="nav_header">
    <div class="nav-wrapper">
        <div class="container">
            <%= link_to "Messages", messages_path, class: "left logo" %>
            <ul class="right">
                <%= link_to "Create Message", new_message_path %>
            </ul>
        </div>
    </div>
</nav>