<%= stylesheet_link_tag "messages/index" %>

<%= render partial: "nav" %>

<div class="container">
    <% @messages.each do |message| %>
        <div>
            <p ><%= message.title%></p>
            <p><%= message.body %></p>
        </div>
    <% end %>   
</div>