/* INDEX MSG CARD STYLES */

.msg_card {
    margin-bottom: 20px;
}

.msg_link {
    display: block;
    padding: 15px;
}

.msg_title, .msg_body {
    color: black;
    margin: 1rem 0;
}

.msg_title {
    font-weight: bold;
}


/* HASHTAG STYLES */

.hashtags {
    padding: 10px 15px;
    margin: 0;
}

.hashtags a {
    margin-right: 10px;
}

.hashtags a:hover {
    color: rgb(0, 174, 255);
}


/* SHOW PAGES MSG CARD STYLES */

.show_msg_card .msg_cont {
    display: block;
    padding: 15px 15px;
}

.show_msg_card .hashtags {
    padding: 0px 15px 20px;
    margin: -15px 0 0;
}

.show_msg_card .options {
    padding: 10px 15px;
    margin: 0;
}

.show_msg_card .options a {
    margin-right: 15px;
}

.show_msg_card .options a:hover {
    color: rgb(0, 174, 255);
}
